/* src/styles/Header.css */

/* Encabezado */
.header {
  background-color: var(--color-blanco);
  padding: 0px 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.header-logo .logo {
  height: auto; 
}

/* Seccion derecha */
.header-right {
  display: flex;
  align-items: center;
  gap: 18px;
}

.welcome-message {
  font-size: 1rem;
  color: var(--color-negro);
}

/* Menu usuario */
.user-menu {
  position: relative;
}

/* Botono menu usuario */
.user-icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  color: var(--color-negro);
}

/* Imagen del ícono del usuario */
.user-icon{
  width: 36px;
  height: 36px;
  border-radius: 30%;
}
.user-icon:hover{
  transform: scale(1.1);
  background-color: var(--color-gris-claro);
  transition: 0.3s;
}

/* Dropdown del menú de usuario */
.dropdown-menu {
  position: absolute;
  top: 98%;
  right: 0;
  background-color: var(--color-blanco);
  border: 1px solid var(--color-gris-claro);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 100;
  width: 180px;
  animation: dropdownFade 0.3s ease-in-out;
}

@keyframes dropdownFade {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu li {
  border-bottom: 1px solid var(--color-gris-claro);
}

.dropdown-menu li:last-child {
  border-bottom: none;
}

.dropdown-menu li a {
  display: block;
  padding: 12px 14px;
  text-decoration: none;
  color: var(--color-negro);
  font-size: 0.95rem;
  font-weight: 600;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.dropdown-menu li a:hover {
  background-color: var(--color-gris-medio);
}

/* Responsive para pantallas de hasta 768px */
@media (max-width: 768px) {
  .welcome-message {
    font-size: 0.9rem;
  }
  
  .user-icon {
    width: 34px;
    height: 34px;
  }
}

/* Responsive para pantallas de hasta 480px */
@media (max-width: 480px) {
  .header-container {
    gap: 10px;
  }
  .welcome-message {
    font-size: 0.85rem;
  }
}
