/* src/styles/Tablero.css */

/* Estilos base del tablero */
.tablero {
  width: 100%;
  padding: 2rem;
  min-height: 100vh;
  color: var(--color-negro);
}

/* Header del tablero */
.tablero-header {
  margin-bottom: 1.2rem;
  text-align: center;
}

/* Titulo */
.tablero-header h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.tablero-header .descripcion {
  font-size: 1rem;
  opacity: 0.8;
}

.tablero-header .tipo {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  font-size: 0.85rem;
}

/* Diseño columnas Tipo KANBAN */
.kanban-columnas {
  display: flex;
  gap: 1.5rem;
  padding: 1rem 0rem; 
  overflow: auto;
}

/* Scroll horizontal visual  */
.kanban-columnas::-webkit-scrollbar {
  height: 10px;
}
.kanban-columnas::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10pr;
}

/* Responsive para tablets */
@media (max-width: 768px) {
  .tablero {
    padding: 1.5rem 1rem;
  }

  .tablero-header h2 {
    font-size: 1.6rem;
  }

  .tablero-header .descripcion {
    font-size: 0.95rem;
  }

  .kanban-columnas {
    gap: 1rem;
  }

}

/* Responsive para moviles  */
@media (max-width: 480px) {
  .tablero-header h2 {
    font-size: 1.4rem;
  }

  .tablero-header .descripcion {
    font-size: 0.85rem;
  }

  .kanban-columnas {
    align-items: center;
    flex-direction: column;
    gap: 0.75rem;
  }

}
