/* Variables para la paleta minimalista */
:root {
  --color-fondo: #dcd9d9;
  --color-blanco: #ffffff;
  --color-negro: #111111;
  --color-gris-claro: #e0e0e0;
  --color-gris-medio: #777777;
  --color-verde: #059527;
}
